<div class="el-auth-box row">
    <div
        class="
            col-sm-10
            offset-sm-1
            col-md-8
            offset-md-2
            col-lg-6
            offset-lg-3
            p-4
            bg-light
            rounded
        ">
        <div class="text-center">
            <p class="el-auth-title d-inline-block align-middle fs-1">
                E~Ledger
            </p>
            <img class="d-inline-block" src="assets/TitleImage.svg" />
        </div>
        <form
            #authForm="ngForm"
            autocomplete="off"
            novalidate
            (ngSubmit)="onSubmit(authForm)">
            <div class="input-group my-2">
                <span class="input-group-text">Email:</span>
                <input
                    class="form-control"
                    type="text"
                    name="email"
                    ngModel
                    email
                    required
                    (focus)="onFocus()" />
            </div>
            <div class="input-group my-2">
                <span class="input-group-text">Password:</span>
                <input
                    class="form-control"
                    type="password"
                    name="password"
                    ngModel
                    required
                    (focus)="onFocus()" />
            </div>
            <div *ngIf="isSignUpMode" [@authSignUpTrigger] class="input-group">
                <span class="input-group-text">Password:</span>
                <input
                    class="form-control"
                    type="password"
                    name="passwordConfirm"
                    placeholder="confirm the password.."
                    ngModel
                    required
                    (focus)="onFocus()" />
            </div>
            <div
                *ngIf="isSignUpMode"
                [@authSignUpTrigger]
                class="el-auth-space"></div>
            <div class="d-flex flex-row mb-1">
                <div class="el-auth-signup-switch form-check form-switch">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        (change)="onAuthSignUpChange($event)" />
                    <label class="form-check-label">Sign up</label>
                </div>
                <div>
                    <p
                        *ngFor="let error of getErrorMessages(authForm)"
                        [@authErrorTrigger]
                        class="el-error text-danger">
                        {{ error }}
                    </p>
                </div>
            </div>
            <div class="text-center">
                <button
                    [disabled]="!authForm.valid"
                    type="submit"
                    class="el-auth-continue-button btn btn-primary fw-bold">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>
