.el-auth-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--bs-dark-rgb), 0.8);
    z-index: -1;
}

.el-auth-title {
    font-family: TitleFont;
}

.el-auth-box {
    margin-top: 25%;
}

.el-auth-box input.ng-touched.ng-invalid {
    border-color: var(--bs-danger);
}

.el-auth-box form > div.input-group > span.input-group-text,
.el-auth-signup-switch {
    width: 30%;
}

.el-auth-signup-switch {
    margin: 2px 0 10px 0;
}

.el-error {
    margin: 0;
}

.el-auth-space {
    height: 8px;
}
