@import "toolkit";

.el-cashflow-box {
    > div {
        min-height: 8.3125rem;
    }
    > form div.input-group > .input-group-text {
        @include media-breakpoint-only(xs) {
            width: 25vw;
        }
        @include media-breakpoint-only(sm) {
            width: 25%;
        }
        @include media-breakpoint-up(md) {
            width: 20%;
        }
        > sup {
            color: $danger;
        }
    }
    .el-hint {
        color: $danger;
        font-size: 0.75rem;
    }
}

::ng-deep.bs-datepicker {
    @include media-breakpoint-down(sm) {
        margin-left: -25vw;
    }
}
