<div class="el-cashflow-box mx-lg-4">
    <div class="my-1 my-lg-2">
        <el-list [mode]="modeService.savedMode" [showItems]="2"></el-list>
    </div>
    <p class="mb-2 text-end fw-bold">New record:</p>
    <form
        #elCashflowForm="ngForm"
        autocomplete="off"
        novalidate
        (ngSubmit)="onSubmit(elCashflowForm)">
        <div *ngIf="modeService.savedMode === mode.Income">
            <div class="input-group mb-3">
                <span class="input-group-text">From<sup>*</sup>:</span>
                <input
                    type="text"
                    class="form-control"
                    name="startedAt"
                    ngModel
                    required
                    bsDatepicker
                    [bsConfig]="{
                        isAnimated: true,
                        dateInputFormat: 'DD/MM/YYYY'
                    }" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">To<sup>*</sup>:</span>
                <input
                    type="text"
                    class="form-control"
                    name="endedAt"
                    ngModel
                    required
                    bsDatepicker
                    [bsConfig]="{
                        isAnimated: true,
                        dateInputFormat: 'DD/MM/YYYY'
                    }" />
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Source<sup>*</sup>:</label>
                <ng-select class="form-control" name="source" ngModel required>
                    <ng-option
                        *ngFor="let item of source | enumToPairs"
                        [value]="item[0]">
                        {{ item[1] }}
                    </ng-option>
                </ng-select>
            </div>
        </div>
        <div *ngIf="modeService.savedMode === mode.Outcome">
            <div class="input-group mb-3">
                <span class="input-group-text">Date<sup>*</sup>:</span>
                <input
                    type="text"
                    class="form-control"
                    name="processedAt"
                    ngModel
                    required
                    bsDatepicker
                    [bsConfig]="{
                        isAnimated: true,
                        dateInputFormat: 'DD/MM/YYYY'
                    }" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Details:</span>
                <input
                    type="text"
                    class="form-control"
                    name="description"
                    ngModel />
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Category<sup>*</sup>:</label>
                <ng-select
                    class="form-control"
                    name="category"
                    ngModel
                    required>
                    <ng-option
                        *ngFor="let item of category | enumToPairs"
                        [value]="item[0]">
                        {{ item[1] }}
                    </ng-option>
                </ng-select>
            </div>
        </div>
        <div class="input-group">
            <input
                type="number"
                class="form-control"
                placeholder="0.00"
                name="sum"
                ngModel
                required
                pattern="^[0-9]*\.?[0-9]{0,2}$" />
            <span class="input-group-text">$<sup>*</sup></span>
        </div>
        <div class="el-hint">
            <p><sup>*</sup>required</p>
        </div>
        <div class="d-flex justify-content-evenly mt-2 mb-4">
            <button
                [disabled]="!elCashflowForm.valid"
                type="submit"
                class="btn btn-primary w-25 fw-bold">
                Add
            </button>
            <button type="reset" class="btn btn-primary w-25 fw-bold">
                Clear
            </button>
        </div>
    </form>
</div>
