@import "toolkit";

@mixin el-required {
    color: $danger;
    font-size: 0.75rem;
}

.el-cashflow-box {
    table {
        height: 6.25rem;
        .btn {
            padding: 0;
            display: block;
            border: 2px solid $dark;
            img {
                display: block;
            }
        }
    }

    form > div.input-group > .input-group-text {
        @include media-breakpoint-only(xs) {
            width: 30vw;
        }
        @include media-breakpoint-up(sm) {
            width: 28%;
        }
        @include media-breakpoint-up(md) {
            width: 20%;
        }
        @include media-breakpoint-up(lg) {
            width: 25%;
        }
        @include media-breakpoint-up(xl) {
            width: 20%;
        }
        > sup {
            @include el-required;
        }
    }
}

.el-hint {
    @include el-required;
}

::ng-deep.bs-datepicker {
    @include media-breakpoint-down(sm) {
        margin-left: -30vw;
    }
}
