@font-face {
    font-family: MainFont;
    src: url("assets/MainFont.ttf") format("truetype");
}
@font-face {
    font-family: TitleFont;
    src: url("assets/TitleFont.ttf") format("truetype");
}

@import "toolkit";
@import "bootstrap/scss/bootstrap";

.btn,
.form-control,
.form-check-label,
.input-group-text {
    @include media-breakpoint-down(sm) {
        font-size: rfs-value(12px);
    }
}

.el-error {
    margin: 0;
    font-size: rfs-value(12px);
    @include media-breakpoint-down(sm) {
        font-size: rfs-value(10px);
    }
}
