/* Importing custom SCSS variables */
@import "variables.scss";

/* Importing Bootstrap SCSS file */
@import "~bootstrap/scss/bootstrap";

/* Custom SCSS styles */
.btn,
.form-control,
.form-check-label,
.input-group-text {
    @include media-breakpoint-down(sm) {
        font-size: rfs-value(12px);
    }
}

.el-error {
    margin: 0;
    font-size: rfs-value(12px);
    @include media-breakpoint-down(sm) {
        font-size: rfs-value(10px);
    }
}
