<div class="el-workspace-box row">
    <div class="el-workspace-panel order-lg-last col-lg-4 bg-light">
        <div #elWorkspacePanelTabs class="el-workspace-panel-tabs d-flex">
            <button
                class="btn flex-fill"
                (click)="onTabClick($event, routingPath.Cashflow)">
                <img src="../../assets/CashflowButton.svg" />
            </button>
            <button
                class="btn flex-fill"
                (click)="onTabClick($event, routingPath.Summary)">
                <img src="../../assets/ListButton.svg" />
            </button>
            <button
                class="btn flex-fill"
                (click)="onTabClick($event, routingPath.Chart)">
                <img src="../../assets/ChartButton.svg" />
            </button>
            <button
                class="btn flex-fill"
                (click)="onTabClick($event, routingPath.Transfer)">
                <img src="../../assets/TransferButton.svg" />
            </button>
            <button
                class="btn flex-fill"
                (click)="
                    onTabClick($event, routingPath.Adjustment, mode.Categories)
                ">
                <img src="../../assets/AdjustmentButton.svg" />
            </button>
            <button
                class="btn flex-fill"
                (click)="onTabClick($event, routingPath.Exit)">
                <img src="../../assets/ExitButton.svg" />
            </button>
        </div>
        <div class="el-workspace-panel-area">
            <router-outlet name="panel"></router-outlet>
        </div>
    </div>
    <div class="el-workspace-area order-lg-first col-lg-8 bg-light">
        <router-outlet></router-outlet>
    </div>
</div>
