@import "toolkit";

.el-workspace-box {
    $border: $border-width solid $success;
    > div {
        margin-top: 25vh;
        height: 42vh;
    }
    .el-workspace-panel {
        @include media-breakpoint-up(lg) {
            @include border-end-radius($border-radius);
        }
        @include media-breakpoint-down(lg) {
            margin-top: 0;
            height: 20vh;
        }
        .el-workspace-panel-tabs {
            height: 15%;
            @include media-breakpoint-down(lg) {
                height: 40%;
            }
            .btn {
                &:not(.el-btn-active):hover {
                    background-color: $info;
                }
                padding: 0;
                background-color: $light;
                @include border-bottom-radius(0);
            }
            .el-btn-active {
                margin-bottom: -1px;
                border: {
                    top: $border;
                    left: $border;
                    right: $border;
                }
            }
        }
        .el-workspace-panel-area {
            height: 85%;
            border: {
                top: $border;
                left: $border;
            }
            margin: 0 calc(var(--#{$variable-prefix}gutter-x) * -0.5);
            @include media-breakpoint-up(lg) {
                border-top-left-radius: $border-radius;
            }
            @include media-breakpoint-down(lg) {
                height: 60%;
                border: {
                    bottom: $border;
                    left: 0;
                }
            }
        }
    }
    .el-workspace-area {
        @include media-breakpoint-up(lg) {
            @include border-start-radius($border-radius);
        }
        @include media-breakpoint-down(lg) {
            margin-top: 0;
            height: 80vh;
        }
    }
}
