<div class="row">
    <div class="order-lg-last col-lg-4 bg-light">
        <div #elWorkspacePanelTabs class="d-flex">
            <button
                type="button"
                class="btn flex-fill"
                (click)="onTabClick($event, ROUTINGPATH.Cashflow)">
                <img src="../../assets/CashflowButton.svg" />
            </button>
            <button
                type="button"
                class="btn flex-fill"
                (click)="onTabClick($event, ROUTINGPATH.Summary)">
                <img src="../../assets/ListButton.svg" />
            </button>
            <button
                type="button"
                class="btn flex-fill"
                (click)="onTabClick($event, ROUTINGPATH.Chart)">
                <img src="../../assets/ChartButton.svg" />
            </button>
            <button
                type="button"
                class="btn flex-fill"
                (click)="onTabClick($event, ROUTINGPATH.Transfer)">
                <img src="../../assets/TransferButton.svg" />
            </button>
            <button
                type="button"
                class="btn flex-fill"
                (click)="
                    onTabClick($event, ROUTINGPATH.Adjustment, MODE.Settings)
                ">
                <img src="../../assets/AdjustmentButton.svg" />
            </button>
            <button
                type="button"
                class="btn flex-fill"
                (click)="onTabClick($event, ROUTINGPATH.Exit)">
                <img src="../../assets/ExitButton.svg" />
            </button>
        </div>
        <div>
            <router-outlet name="panel"></router-outlet>
        </div>
    </div>
    <div class="order-lg-first col-lg-8 bg-light">
        <router-outlet></router-outlet>
    </div>
</div>
