@import "toolkit";

@mixin el-required {
    background: repeating-linear-gradient(
        -45deg,
        $white,
        $white 0.5rem,
        rgba($danger, 0.2) 0.5rem,
        rgba($danger, 0.2) 1rem
    );
}

:host > div {
    $border: $border-width solid $primary;
    > div {
        @include media-breakpoint-up(lg) {
            margin-top: 20vh;
            min-height: 45vh;
        }
    }
    > div:first-child {
        @include media-breakpoint-up(lg) {
            @include border-end-radius($border-radius);
        }
        > div:first-child {
            @include media-breakpoint-up(lg) {
                height: 12%;
            }
            button {
                &:not(.el-btn-active):hover {
                    background-color: $info;
                }
                &.el-btn-active {
                    margin-bottom: -1px;
                    border: {
                        top: $border;
                        left: $border;
                        right: $border;
                    }
                }
                padding: 0;
                background-color: $light;
                @include border-bottom-radius(0);
                @include media-breakpoint-down(lg) {
                    padding: 0.75rem 0;
                }
            }
        }
        > div:last-child {
            border: {
                top: $border;
                bottom: $border;
            }
            margin: 0 calc(var(--#{$variable-prefix}gutter-x) * -0.5);
            @include media-breakpoint-up(lg) {
                height: 88%;
                border-top-left-radius: $border-radius;
                border: {
                    left: $border;
                    bottom: 0;
                }
            }
        }
    }
    > div:last-child {
        @include media-breakpoint-up(lg) {
            @include border-start-radius($border-radius);
        }
        ::ng-deep {
            input.ng-touched.ng-dirty.ng-invalid.el-validation,
            input.ng-touched.ng-invalid:not(.el-validation) {
                border-color: $danger;
                @include el-required;
            }
            ng-select.ng-touched.ng-invalid {
                border-color: $danger;
                > div {
                    @include el-required;
                }
            }
        }
    }
}
