@import "toolkit";

.el-workspace-box {
    $border: $border-width solid $primary;
    > div {
        @include media-breakpoint-up(lg) {
            margin-top: 20vh;
            min-height: 45vh;
        }
    }
    .el-workspace-panel {
        @include media-breakpoint-up(lg) {
            @include border-end-radius($border-radius);
        }
        .el-workspace-panel-tabs {
            @include media-breakpoint-up(lg) {
                height: 12%;
            }
            .btn {
                &:not(.el-btn-active):hover {
                    background-color: $info;
                }
                padding: 0;
                background-color: $light;
                @include border-bottom-radius(0);
                @include media-breakpoint-down(lg) {
                    padding: 0.75rem 0;
                }
            }
            .el-btn-active {
                margin-bottom: -1px;
                border: {
                    top: $border;
                    left: $border;
                    right: $border;
                }
            }
        }
        .el-workspace-panel-area {
            border: {
                top: $border;
                bottom: $border;
            }
            margin: 0 calc(var(--#{$variable-prefix}gutter-x) * -0.5);
            @include media-breakpoint-up(lg) {
                height: 88%;
                border-top-left-radius: $border-radius;
                border: {
                    left: $border;
                    bottom: 0;
                }
            }
        }
    }
    .el-workspace-area {
        @include media-breakpoint-up(lg) {
            @include border-start-radius($border-radius);
        }
    }
}
